#dashBoard{
   
    flex: .7;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    overflow-y: scroll;
    padding-left: 40px;
    padding-right: 20px;

   
}

.topName{
    min-height: 70px;
    border-bottom: 1px solid rgb(63, 60, 66);
  
    font-size: 1.5rem;
    font-weight: 500;
  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform:capitalize;
   
}

.accountInfo{
    min-height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.infoLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: .3;
    align-items: flex-start;
   
    
  
}

.equity{
  
    flex: .5;
    align-items: center;
    justify-content: center;
    display: flex;
   
}
.margin{
    flex: .5;
   align-items: center;
   
    justify-content: center;
    display: flex;
    flex-direction: column;
   
   
}
.avl{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.margin span{
    color: rgb(143, 141, 136);
}

.infoInvesting{
    min-height: 300px;
    border: 1px solid rebeccapurple;
  
}

.marketOverview{
    min-height: 400px;
    border: 1px solid rgb(165, 8, 8);
  
}