*{
  margin: 0;
  padding: 0;
  background-color: #181818;
  overflow: hidden;
}




/* width */
*::-webkit-scrollbar {
  width: 8px;
 
}

/* Track */
*::-webkit-scrollbar-track {
  background: #363636;
 
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgb(41, 40, 40);
  
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
  
}
